$main-color: #0c0c0c;
$login-font: 32px;

.loginPage {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4F4D4D;
  background-image: url(../../styles/assets/bg.svg);
  background-attachment: fixed;
  background-size: cover;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3% 6%;
  border-radius: 7px;
  background-color: #001220;
  box-shadow: 0px 0px 36px 10px rgba(18, 197, 162, 0.5);
  label {
    color: #ffffff;
    margin-bottom: 15px;
    font-size: $login-font;
  }
  input {
    margin-bottom: 15px;
    height: 50px;
    font-size: calc($login-font - 4px);
    color: #ffffff;
    background-color: $main-color;
    border: 2px solid #ffffff;
    
  }
  button {
    // font-size: $login-font;
    margin-top: 45px;
    cursor: pointer;
    color: #ffffff;
    background-color: $main-color;
    border: 2px solid #ffffff;
    transition: 0.2s ease-in-out all;
    border-radius: 20px;
  }
  button:hover {
    background-color: #ffffff;
    color: $main-color;
  }
}